@use 'vars' as *;
@use 'main' as *;

.recipe {
	background-color: $white;

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		padding: $spacing-500 $spacing-400;
	}

	&__intro {
		margin-bottom: $spacing-400;

		&-description {
			margin-top: $spacing-300;
			color: $stone-600;
		}
	}

	&__section-title {
		@extend .typography-2;
		color: $brown-800;
	}

	&__preparation {
		background-color: $rose-50;
		margin-bottom: $spacing-400;
		padding: $spacing-300;
		border-radius: $spacing-150;
	}

	&__ingredients {
		margin-bottom: $spacing-400;

		&-title {
			color: $brown-800;
		}
	}

	&__instructions {
		margin-bottom: $spacing-400;
	}

	&__nutrition {
		&-description {
			@extend .typography-4;
			color: $stone-600;
			margin: $spacing-300 0;
		}

		&-table {
			width: 100%;
			border-collapse: collapse;
			color: $stone-600;
		}

		&-row {
			&:not(:first-child) {
				border-top: 1px solid $stone-150;
			}

			display: flex;
			width: 100%;
			justify-content: space-between;
			padding: 0 $spacing-400;
			gap: $spacing-200;
			padding-bottom: $spacing-150;

			&:not(:first-child) {
				padding-top: $spacing-150;
			}
		}

		&-cell {
			flex: 1;

			&:first-child {
				@extend .typography-4;
			}

			&:last-child {
				@extend .typography-4-bold;
				color: $brown-800;
			}
		}

	}
}

@media (min-width: $layout-breakpoint-tablet) {
	.recipe {
		max-width: 38.5rem;
		border-radius: $spacing-300;
		overflow: hidden;

		&__image-container {
			padding: $spacing-500 $spacing-500 0;
		}

		&__image {
			border-radius: $spacing-150;
		}
	}
}

@media (min-width: $layout-breakpoint-desktop) {
	.recipe {
		max-width: 46rem;
	}
}